
body{
  background-color: rgb(139, 139, 18);
}
button{
    position: absolute;
    top: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(18, 20, 143);
    color: white;
    border: none;
    
    border-radius: 7px;
    left: 10px;
}